# ~/.gitconfig
#
# git(1) configuration file

[alias]
  ci = commit
  co = checkout
  st = status -s
  discard = checkout --
  unstage = reset HEAD
  lg = log --oneline --graph --decorate

[color]
  ui = auto

[core]
  excludesfile = ~/.gitignore_global

[credential]
  helper = osxkeychain

[user]
  name = Alex Demishkevich
  email = demalex@me.com
