# ~/.gitconfig
#
# git(1) configuration file

[alias]
  ci = commit
  co = checkout
  st = status

[color]
  ui = auto

[core]
  excludesfile = ~/.gitignore_global

[credential]
  helper = osxkeychain

[user]
  name = Alex Demishkevych
  email = demalex@me.com
